<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Buscar por Capital..."
      ></app-pais-input>
    </div>
  </div>
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
