<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let pais of paises; let i = index"
                class="animate__animated animate__fadeIn animate__faster">
            <td>{{ i + 1 }}</td>
            <td>
                <img class="small-flag" [src]="pais.flags.png" alt="" >
            </td>
            <td>{{pais.capital}}, {{pais.name}}</td>
            <td>{{pais.population | number }}</td>
            <td>
                <a [routerLink]="['/pais', pais.alpha2Code]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>