<div class="animate__animated animate__fadeIn animate__faster">
  <h3>
    Buscar por region <small>{{ regionActiva | titlecase }}</small>
  </h3>
  <h3></h3>

  <h5>Seleccione la region</h5>
  <div class="row">
    <div class="col">
      <!-- [ngClass]="{
                'btn-primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region
            }" -->
      <button
        *ngFor="let region of regiones"
        [class]="getClaseCSS(region)"
        (click)="activarRegion(region)"
      >
        {{ region | titlecase }}
      </button>
    </div>

    <div *ngIf="hayError" class="alert alert-danger">
      No se encontro nada con el termino {{ termino }}
    </div>

    <div *ngIf="paises.length > 0" class="row">
      <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
      </div>
    </div>
  </div>
</div>
